* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
}

p {
    line-height: 1.5;
}

p, h1, h2 {
    padding-bottom: 30px;
}

/* ================ Progress Bar ================ */

#progress-bar {
    --scrollAmount: 10%;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); ;
    width: var(--scrollAmount);
    height: 4px;
    position: fixed;
    top: 0;
}

/* ================ (end) Progress Bar ================ */